<?xml version="1.0"?>

<!-- Weitere Informationen zur Verwendung der Transformation von "web.config" finden Sie unter http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Im Beispiel unten wird durch die Transformation "SetAttributes" der Wert von 
    "connectionString" so geändert, dass "ReleaseSQLServer" nur verwendet wird, wenn der Match-Locator 
    ein name-Attribut mit dem Wert "MyDB" findet.
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      Im Beispiel unten wird durch die Transformation "Ersetzen" der gesamte 
      <customErrors>-Abschnitt der Datei "web.config" ersetzt.
      Dies ist zu beachten, da sich unter dem 
      <system.web>-Knoten nur ein customErrors-Abschnitt befindet. Daher muss das xdt:Locator-Attribut nicht verwendet werden.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>